---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Date from "../components/Date.astro";
import { Image } from "astro:assets";

type Props = CollectionEntry<"blogs">["data"];

const { title, description, publishedDate, updatedDate, heroImage } =
  Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={heroImage} />
    <style>
      main {
        width: calc(100% - 0rem);
        max-width: 960px;
        margin: 0 auto;
      }
      .hero-image {
        width: 100%;
      }
      .hero-image img {
        display: block;
        margin: 0 auto;
        border-radius: 12px;
      }
      .prose {
        width: 768px;
        max-width: calc(100% - 0em);
        margin: auto;
        color: rgb(var(--gray-dark));
      }
      .title {
        margin-bottom: 1em;
        padding: 1em 0;
        text-align: center;
        line-height: 1;
      }
      .title h1 {
        margin: 0 0 0.5em 0;
      }
      .date {
        margin-bottom: 0.5em;
        color: rgb(var(--gray));
      }
      .last-updated-on {
        font-style: italic;
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <div>
        <a href="/blogs" class="mb-2 flex items-center">
          <svg
            viewBox="0 0 1024 1024"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            class="w-4 h-4"
            ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"
              ><path
                fill="currentColor"
                d="M224 480h640a32 32 0 1 1 0 64H224a32 32 0 0 1 0-64z"
              ></path><path
                fill="currentColor"
                d="m237.248 512 265.408 265.344a32 32 0 0 1-45.312 45.312l-288-288a32 32 0 0 1 0-45.312l288-288a32 32 0 1 1 45.312 45.312L237.248 512z"
              ></path></g
            ></svg
          >
          <span class="mt-1 ml-2 block text-sm/6">All Blogs</span>
        </a>
      </div>
      <article>
        <div class="hero-image">
          {
            heroImage && (
              <Image
                width={1020}
                height={510}
                src={heroImage}
                alt={title}
                class="shadow-2xl"
              />
            )
          }
        </div>
        <div class="prose">
          <div class="title">
            <div class="date">
              <Date date={publishedDate} />
              {
                updatedDate && (
                  <div class="last-updated-on">
                    Last updated on <Date date={updatedDate} />
                  </div>
                )
              }
            </div>
            <h1>{title}</h1>
            <hr />
          </div>
          <div class="opacity-90">
            <slot />
          </div>
        </div>
      </article>
    </main>
    <script
      src="https://giscus.app/client.js"
      data-repo="codeforreal1/website"
      data-repo-id="R_kgDOO3xBiQ"
      data-category="Blog"
      data-category-id="DIC_kwDOO3xBic4CyC9T"
      data-mapping="pathname"
      data-strict="0"
      data-reactions-enabled="1"
      data-emit-metadata="0"
      data-input-position="bottom"
      data-theme="preferred_color_scheme"
      data-lang="en"
      crossorigin="anonymous"
      async
    ></script>
    <Footer />
  </body>
</html>
